* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f7f8;
}

/*------------------*/
/*HEADER AND NAVBAR*/
/*----------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 70px;
  margin: 18px;
  padding: 12px 32px;
}
header .profile-text {
  margin-right: 12px;
  padding-right: 12px;
  border-right: var(--unnamed-color-cbc8d4) solid 1px;
}

nav {
  display: flex;
}
.nav-logo {
  height: 48px;
}

.nav-link {
  display: flex;
  border-radius: 41px;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  gap: 8px;
  text-decoration: none;
}
.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 255px;
}
.active {
  background-color: var(--activestate_bg_1);
}

.active-soft {
  background-color: var(--activestate_bg_2);
}

/*------------------------*/
/* SECTIONS DISTRIBUTION */
/*----------------------*/
.container {
  display: flex;
  height: 1130px;
}
.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 32px;
}
.column-1 {
  flex: 1;
}
.column-2 {
  flex: 2;
  max-width: 50%;
}

/*------------------------*/
/* TITLES                */
/*----------------------*/
h2 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}
h2 i {
  font-size: 18px;
  cursor: pointer;
}

.large-margin-bottom {
  margin-bottom: 40px;
}

.lab-results h2 {
  margin: 0 0 16px 0;
}

section {
  border-radius: 16px;
  padding: 20px;
  background-color: #ffffff;
}

/*------------------*/
/*PATIENTS LIST    */
/*----------------*/
.patients {
  height: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
}

.profile-picture {
  height: 100%;
  margin-right: 12px;
}
.patients-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 95%;
  margin-right: -15px;
}

.patients-list i {
  cursor: pointer;
}
.patients-card {
  display: flex;
  height: 48px;
  padding: 5%;
}
.patients-card:hover {
  background-color: var(--activestate_bg_2);
}
.profile-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-left {
  font-size: 3px;
  width: 18px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

/*------------------*/
/*GRAPH SECTION    */
/*----------------*/
.legend-color {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}
.sys-color {
  background-color: #e66fd2;
}
.dia-color {
  background-color: #8c6fe6;
}
.graph-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.dropdown-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 24px;
  width: 120px;
  justify-content: space-evenly;
}
.dropdown-menu span {
  padding: 3%;
  text-wrap: nowrap;
}

.dropdown-menu i {
  font-size: 8px;
}
.dropdown-list {
  position: absolute;
  top: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.dropdown-list.hover {
  opacity: 1;
  visibility: visible;
}

.dropdown-list li {
  display: block;
  height: 24px;
  width: 100%;
  background-color: #f4f0fe;
  padding: 3%;
}
.dropdown-list li:hover {
  background-color: #dfd4ff;
}
.blood-pressure-graph {
  background-color: #f4f0fe;
  padding: 16px;
  border-radius: 14px;
  display: flex;
  gap: 30px;
}
.canvas-container {
  position: relative;
  width: 100%;
  min-height: 200px;
}

.graph-container {
  flex: 2;
  max-width: 66%;
}
.legend-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: column;
}

.blood-pressure-graph h2 {
  margin-bottom: 20px;
}

.avg-icon {
  display: flex;
  align-items: center;
  margin: 0;
}
.avg-icon i {
  font-size: 8px;
  margin-right: 12px;
}
.pressure-legend h2 {
  margin: 8px 0 8px 0;
}
.pressure-legend span {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.pressure-legend {
  min-width: 160px;
}

.legend-container::before {
  align-self: stretch;
  content: '';
  border: 1px solid #cbc8d4;
}

.legend-container .pressure-legend:first-child {
  order: -1;
}

/* .pressure-legend:first-child {
  border-bottom: 1px solid #cbc8d4;
} */

.health-status-container {
  font-family: var(--unnamed-font-family-manrope);
  display: flex;
  gap: 3%;
  margin-top: 3%;
}
.health-status-card {
  padding: 2.4%;
  flex: 1;
  border-radius: 14px;
}
.health-status-card:nth-child(1) {
  background-color: #e0f3fa;
}
.health-status-card:nth-child(2) {
  background-color: #ffe6e9;
}
.health-status-card:nth-child(3) {
  background-color: #ffe6f1;
}
.health-status-title {
  font-size: 16px;
  font-weight: 600;
}
.health-status-value {
  font-size: 30px;
  font-weight: 800;
}
/*------------------*/
/*DIAGNOSTIC LIST  */
/*----------------*/

.table-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 59px;
}
.table-row.table-header {
  background-color: #f6f7f8;
  height: 48px;
  border-radius: 24px;
}

.table-row * {
  padding: 0 16px;
}

.table-col-1 {
  flex: 2;
}
.table-col-2 {
  flex: 3;
}
.table-col-3 {
  flex: 1;
}
/*------------------*/
/*BIG PROFILE CARD */
/*----------------*/
.patient {
  padding: 32px 20px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.profile-name {
  margin: 0 0 32px 0;
}
.profile-picture-full {
  height: 200px;
}

.patient-info-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  gap: 24px;
}

.patient-info {
  display: flex;
  height: 42px;
  align-items: center;
  gap: 16px;
}
.patient-info i {
  font-size: 42px;
}
.patient-info i:before {
  background-color: #f6f7f8;
  border-radius: 100%;
}
.main-button {
  background-color: var(--activestate_bg_1);
  display: block;
  border: none;
  height: 41px;
  padding: 11px 40px;
  border-radius: 41px;
  margin: 0 auto;
}
/*------------------*/
/*LAB RESULTS      */
/*----------------*/
.lab-list {
  margin: 0;
  padding: 0;
}
.lab-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 16px;
}
.lab-list i {
  cursor: pointer;
}
.lab-list li:hover {
  background-color: #f6f7f8;
}

@media (max-width: 1200px) {
  h2 {
    margin: 0 0 10px 0;
  }
  .large-margin-bottom {
    margin-bottom: 10px;
  }
  .profile-name {
    margin-bottom: 10px;
  }
  .profile-container {
    gap: 10px;
  }
  .nav-logo {
    height: 24px;
  }
  .profile-card img {
    display: none;
  }
  header {
    padding: 12px 12px;
    margin: 5px;
  }
  header .profile-text {
    margin: 0;
    border-right: 0;
  }
  .nav-link {
    padding: 12px 8px;
  }
  .column-1,
  .column-2 {
    margin: 5px;
    gap: 10px;
  }
  section {
    padding: 10px;
  }

  .graph-container {
    min-width: 100%;
  }
  .legend-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .patient {
    padding: 16px 10px;
  }
  .patients-list {
    margin-right: auto;
  }
  .patient-info {
    gap: 0;
  }
  .main-button {
    padding: 11px 20px;
  }
  .health-status-title {
    font-size: 14px;
  }
  .health-status-value {
    font-size: 20px;
  }
  .blood-pressure-graph {
    gap: 5px;

    flex-wrap: wrap;
  }
  .patients-card {
    padding: 8px;
  }
  .pressure-legend {
    min-width: 140px;
  }
}

@media (max-width: 968px) {
  header {
    display: none;
  }
  .column-1:first-child {
    display: none;
  }
  .column-2 {
    max-width: 66%;
  }
}
